* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Header */
#main-header {
    background:#000;
    color:#fff;
}

#main-header-top {
    padding: 0 40px;
}

#main-header a {
    color:#fff;
    text-decoration: none;
    display:flex;
}

#main-header img {
    margin-right:10px;
}

#banner img{
    max-width: 100%;
}
/* Nav */
#main-nav {
    background:#73000A;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav li {
    padding:10px;
    font-size:16px;
}

#hamburger div {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
}

/* content area */
#main-content {
    padding:20px;
}

.col1to4of5 {
    flex-basis: 75%;
}

.col5of5 {
    flex-basis:20%;
}

.sc-article {
    margin: 20px 0;
}

.sc-article img {
    margin-right:20px;
}

/* Banner */
#banner {
    display:flex;
    justify-content: center;
}

/* Font Styles */
h2 {
    color:#73000A;
    font-size:35px;
}

/* Footer */
#main-footer {
    background: #73000A;
    color: #fff;
    padding: 10px;
}

.foot-col1of3, .foot-col2of3, .foot-col3of3 {
    margin:10px;
}
.footer-list ul{
    list-style-type: none;
}

.footer-list li{
    font-size:10px;
    padding: 5px;
    text-align: left;
}

.footer-list a{
    color:#fff;
}

.foot-col1of2{
    align-content: flex-start;
    margin:auto;
}

.foot-col2of2{
    align-content: flex-end;
    margin:auto;
}

.foot-col1of3 {
    flex-basis: 35%;
}

.foot-col2of3 {
    flex-basis: 25%;
}

.foot-col3of3 {
    flex-basis: 15%;
}


@media (min-width:900px){
    #main-nav ul {
        display:flex;
        justify-content: space-evenly;
    }

    #main-content-junior {
        display:flex;
        justify-content:space-between;
    }

    .sc-article {
        display:flex;
        justify-content: space-between;
    }

    .footer-container {
        display: flex;
        justify-content: center;
    }

    .footer-list-container{
        display:flex;
    }

    #hamburger {
        display: none;
    }
}

@media (max-width:900px){
    #navbar.hidden{
        display: none;
    }

    #main-nav{
        padding: 5px;
    }
}
